section form div img{
	width: 200px;
	height: 200px;
}
.form{
	float: left;
}
.col-5{
	width: 150px;
}
.search{
	float: right;
	margin: 10px;
}
.search form #search_input{
	padding: 10px;
}
.search form #search_btn {
	padding: 10px;
}